# Copie este arquivo para ".env" e preencha com os valores do seu projeto Supabase.
# Painel do Supabase > Project Settings > API

VITE_SUPABASE_URL=https://khepahigbfphubeidebz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoZXBhaGlnYmZwaHViZWlkZWJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0MzM2OTgsImV4cCI6MjEwMTAwOTY5OH0.l090LZ5se79tmbG3ZVwweMIINzTwFFNE7R15Nz9Lx4A
